<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/statics/style.css">
    <title>Staple</title>
</head>
<body>
<div>
    <h1 class="title">Staple<span>{{ config.extra.version }}</span></h1>
    <p class="description">简化你的博客之旅。</p>
    <br>
    <div>hehehe</div>
    <nav>
        <a href="archive.html">Archives</a>
        <a href="Changelog.html">Changelog</a>
        <a href="https://github.com/Kilerd/staple" target="_blank">Github</a>
    </nav>


    <nav>
        {% for article in articles %}

        <a href="/{{article.meta.url}}/">{{article.meta.title}}</a>
        {% endfor %}
    </nav>

</div>
</body>
<!--<script>-->

<!--    function websocket_connect() {-->
<!--        let webSocket = new WebSocket("ws://localhost:8000/notifier");-->
<!--        webSocket.onopen = function () {-->
<!--            webSocket.send("Connecting...");-->
<!--            console.log("ws connection...");-->
<!--        };-->
<!--        webSocket.onmessage = function (event) {-->
<!--            let data = event.data;-->
<!--            console.log("ws get event: ", data);-->
<!--            if (data === "refresh") {-->
<!--                window.location.reload();-->
<!--            }-->
<!--        };-->
<!--        webSocket.onclose = function (e) {-->
<!--            console.log("ws disconnected.", e);-->
<!--            console.log("trying to reconnect servere 5 second later");-->
<!--            setTimeout(websocket_connect, 5000);-->
<!--        };-->
<!--    }-->

<!--    if ("WebSocket" in window) {-->
<!--        websocket_connect();-->

<!--    } else {-->
<!--        console.log("your browser does not support websocket");-->
<!--    }-->
<!--</script>-->
</html>