<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staple</title>
</head>
<body>
    <div>
        <h1 class="title">Staple</h1>
        <p class="description">简化你的博客之旅. <span>{{ config.extra.version }}</span></p>
        <br>
        <nav>
            <a href="archive.html">Archives</a>
            <a href="Changelog.html">Changelog</a>
            <a href="https://github.com/Kilerd/staple" target="_blank">Github</a>
        </nav>
    </div>
</body>
</html>