{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-size brand">
        <div class="content">
            <h1>STAPLE<sup>{{config.extra.version}}</sup></h1>
            <p>powerful static site generator</p>

        </div>
    </div>
    <div class="page-size articles">
        <div class="inner">
            {% for one_page in pages | not_field(attribute="data.page") | reverse %}
            <section class="article">
                <a class="title"
                   href="/{{ one_page.url }}">{{ one_page.title }}</a>
            </section>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock body %}